---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';
import FormattedDate from './FormattedDate.astro';
import TagButton from './TagButton.astro';

type Props = { post: CollectionEntry<'blog'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { post, class: className, headingLevel = 'h2' } = Astro.props;
const { title, publishDate, updatedDate, excerpt, tags } = post.data;
const TitleTag = headingLevel;

const { Content, remarkPluginFrontmatter } = await post.render();

function slugify(text: string): string {
    return text
        .toLowerCase()
        .replace(/\s+/g, '-')
        .replace(/[^\w-]+/g, '');
}
---

<div class:list={['flex flex-col', className]}>
    <a class="flex justify-between items-start gap-8 group" href={`/blog/${post.slug}/`}>
        <div class="grow">
            <TitleTag
                class="text-xl leading-tight font-serif font-medium group-hover:underline group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
            >
                {title}
            </TitleTag>
            <div class="mt-1 text-sm leading-normal flex flex-wrap items-center gap-x-2 gap-y-1">
                <FormattedDate date={publishDate} />
                {
                    updatedDate && (
                        <>
                            {' '}
                            <span>
                                (Updated on <FormattedDate date={updatedDate} />)
                            </span>
                        </>
                    )
                }
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
                <p>· <i class="fas fa-book-open" style="margin-right: 0.25em;"></i> {remarkPluginFrontmatter.minutesRead}</p>
            </div>
        </div>

        <div class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center sm:shrink-0">
            <span>Read Post</span>
            <ArrowRight class="fill-current w-4 h-4 transition-transform duration-500 ease-in-out group-hover:translate-x-1" />
        </div>
    </a>

    {
        tags && tags.length > 0 && (
            <div class="flex flex-wrap gap-4 overflow-x-auto whitespace-nowrap mt-3">
                {tags.map((tag) => (
                    <TagButton href={`/tags/${slugify(tag)}`} class="!py-0.6 !px-2.5 !text-xs">
                        {tag}
                    </TagButton>
                ))}
            </div>
        )
    }
</div>
