---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';
import FormattedDate from './FormattedDate.astro';
import TagButton from './TagButton.astro';
// Add in the button style

type Props = { post: CollectionEntry<'blog'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { post, class: className, headingLevel = 'h2' } = Astro.props;
const { title, publishDate, updatedDate, excerpt, tags } = post.data;
const TitleTag = headingLevel;

//access the content of my posts
const { Content, remarkPluginFrontmatter } = await post.render();
---

{
    tags && tags.length > 0 && (
        <div class="flex flex-wrap gap-4 overflow-x-auto whitespace-nowrap;" style="padding-bottom: 10px">
            {tags.map((tag) => {
                const tagUrl = tag
                    .toLowerCase()
                    .replace(/\s+/g, '-')
                    .replace(/[^\w-]+/g, '');
                return (
                    <TagButton href={`/tags/${tagUrl}`} class="!py-0.6 !px-2.5 !text-xs">
                        {tag}
                    </TagButton>
                );
            })}
        </div>
    )
}

<a class:list={['flex justify-between items-start gap-8 group', className]} href={`/blog/${post.slug}/`}>
    <div class="grow">
        <TitleTag
            class="text-xl leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
        >
            {title}
        </TitleTag>
        <div class="mt-1 text-sm leading-normal flex flex-wrap items-center gap-x-2 gap-y-1">
            <FormattedDate date={publishDate} />
            {
                updatedDate && (
                    <>
                        {' '}
                        <span>
                            (Updated on <FormattedDate date={updatedDate} />)
                        </span>
                    </>
                )
            }
            <p>· &#128366; {remarkPluginFrontmatter.minutesRead}</p>
        </div>
    </div>

    <div class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center sm:shrink-0">
        Read Post <ArrowRight class="fill-current w-4 h-4" />
    </div>
</a>
